/* Colors */
/* Always use dark variants of colors for text to get an accessible level of color contrast */
/* Weird colors to investigate -Dan */
/* Fonts */
/* Breakpoints */
/* @group Eric Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  cursor: default;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* @end */
/* @group Custom Resets */
* {
  box-sizing: border-box;
  user-select: none;
}
*:focus {
  outline: none;
}

a {
  cursor: pointer;
}
a * {
  cursor: pointer;
}

input, button, select {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input:focus, button:focus, select:focus {
  border: 0;
  outline: 0;
}
input::-moz-focus-inner, button::-moz-focus-inner, select::-moz-focus-inner {
  border: 0;
  outline: 0;
}
input::-moz-focus-outer, button::-moz-focus-outer, select::-moz-focus-outer {
  border: 0;
  outline: 0;
}

input {
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
}

strong {
  font-weight: bold;
}

/* @end */
/*
Font: 		Proxima Nova, Proxima Nova Semibold
Style: 		Regular
URL: 		https://www.youworkforthem.com/font/T0467/proxima-nova
Foundry: 	Mark Simonson
Foundry: 	https://www.youworkforthem.com/designer/73/mark-simonson
Copyright:	Copyright (c) Mark Simonson, 2005. All rights reserved.
Version: 	17
Created:	April 10, 2016
License: 	https://www.youworkforthem.com/font-license 
License: 	The WebFont(s) listed in this document must follow the 
			YouWorkForThem WebFont license rules. All other parties are 
			strictly restricted from using the WebFonts(s) listed without 
			a purchased license. All details above must always remain 
			unaltered and visible in your CSS.
*/
@font-face {
  font-family: "Proxima Nova";
  src: url("fonts/proxima-nova-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("fonts/proxima-nova-semibold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
/*
Font:		Courier Prime
URL:		https://quoteunquoteapps.com/courierprime
Foundry:	Quote-Unquote Apps
Copyright:	Copyright (c) 2013, Quote-Unquote Apps 
			with Reserved Font Name Courier Prime.
License:	This Font Software is licensed under the SIL Open Font 
			License, Version 1.1. http://scripts.sil.org/OFL
*/
@font-face {
  font-family: "Courier Prime Bits Mono";
  src: url("fonts/courier_prime_bits-mono.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* @group Text Styles */
html,
body,
input,
button,
select {
  font: 15px "Proxima Nova", "Helvetica Neue", Helvetica, Arial, Roboto, sans-serif;
  line-height: 1.2em;
  color: #333333;
}

h1 {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.2em;
}

h2 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2em;
}

h3 {
  font-size: 15px;
  font-weight: 600;
  line-height: 1.2em;
}

h4 {
  font-size: 13px;
  font-weight: 600;
  line-height: 1.2em;
}

.secondary {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
  line-height: 1.2em;
}

a, a:visited {
  color: #1173d4;
}
a:focus, a:visited:focus {
  border-radius: 3px;
  box-shadow: 0px 0px 0px 3px rgba(0, 102, 204, 0.3), 0px 0px 0px 1px rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 102, 204, 0.3);
  color: #333333;
  padding: 2px 6px;
  margin: -2px -6px;
}

.password {
  font-family: "Courier Prime Bits Mono", "Courier New", Courier, mono;
}
.password .digits {
  color: #0d80f2;
}
.password .symbols {
  color: #e6735c;
}

/* Sometimes screen readers need additional text elements. For instance they don't always pause between block elements (like when inside a listbox) so you want an invisible period. Or you need an alert element that should be read to them but doesn't need to be visible because it's shown in another way to sighted people. */
.screenReaderOnly {
  position: absolute;
  top: -1000px;
  left: -1000px;
  opacity: 0;
  width: 0;
  height: 0;
}

/* @end */
.itemIcon-large {
  width: 64px;
  height: 64px;
}
.itemIcon-large img {
  width: 100%;
  height: 100%;
}
.itemIcon-large.masked {
  width: 60px;
  height: 60px;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  background-color: white;
}
.itemIcon-large.masked::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  box-sizing: border-box;
  position: absolute;
  border: solid 1px rgba(0, 0, 0, 0.25);
  pointer-events: none;
}
.itemIcon-large.masked img {
  position: absolute;
  border-radius: 12px;
}
.itemIcon-large.monogram {
  width: 60px;
  height: 60px;
  background-image: url(images/login_overlay-large.svg);
  border-radius: 12px;
  text-align: center;
  line-height: 60px;
  font-size: 24px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.4);
}

.itemIcon-medium {
  width: 32px;
  height: 32px;
}
.itemIcon-medium img {
  width: 100%;
  height: 100%;
}
.itemIcon-medium.masked {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  position: relative;
}
.itemIcon-medium.masked::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  box-sizing: border-box;
  position: absolute;
  border: solid 1px rgba(0, 0, 0, 0.25);
  pointer-events: none;
}
.itemIcon-medium.masked img {
  position: absolute;
  border-radius: 6px;
  background-color: white;
}
.itemIcon-medium.monogram {
  width: 30px;
  height: 30px;
  background-image: url(images/login_overlay-medium.svg);
  border-radius: 6px;
  text-align: center;
  line-height: 30px;
  font-size: 12px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.4);
}

.itemIcon-small {
  width: 24px;
  height: 24px;
  position: relative;
  display: inline-block;
}
.itemIcon-small.masked {
  border-radius: 4.4px;
  overflow: hidden;
  position: relative;
  background-color: white;
  width: 22px;
  height: 22px;
  margin: 1px;
}
.itemIcon-small.masked img {
  width: 100%;
  height: 100%;
}
.itemIcon-small.masked::after {
  content: "";
  display: block;
  border-radius: 4.4px;
  box-sizing: border-box;
  position: absolute;
  border: solid 1px rgba(0, 0, 0, 0.15);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
}

.itemIcon-mini {
  width: 16px;
  height: 16px;
  position: relative;
  display: inline-block;
}
.itemIcon-mini.masked {
  overflow: hidden;
  border-radius: 3.2px;
}
.itemIcon-mini.masked img {
  width: 100%;
  height: 100%;
}
.itemIcon-mini.masked::after {
  content: "";
  display: block;
  border: solid 1px rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 3.2px;
  pointer-events: none;
}
.itemIcon-mini.monogram {
  width: 16px;
  height: 16px;
  background-image: url(images/login_overlay-mini.svg);
  border-radius: 3.2px;
  text-align: center;
  line-height: 16px;
  font-size: 7px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.4);
}

.focus .itemIcon-medium.masked::after, :focus .itemIcon-medium.masked::after {
  border-color: rgba(0, 0, 0, 0.6);
  pointer-events: none;
}

.heirarchialDivider {
  display: inline-block;
  width: 5px;
  height: 8px;
  background-image: url(images/heirarchialDivider.svg);
  margin-top: 4px;
}

.vaultIcon-medium {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  width: 24px;
  height: 24px;
  /*	&:after {
  		content: url(../../images/popup/vault_frame-medium.svg);
  		position: absolute;
  		top: 0px;
  		left: 0px;
  	}
  	*/
}
.vaultIcon-medium img {
  width: 100%;
  height: 100%;
}

.vaultIcon-small {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  border-radius: 50%;
}
.vaultIcon-small img {
  width: 100%;
  height: 100%;
}
.vaultIcon-small::after {
  content: "";
  display: block;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  pointer-events: none;
}

.vaultIcon-mini {
  width: 16px;
  height: 16px;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  display: inline-block;
}
.vaultIcon-mini img {
  width: 100%;
  height: 100%;
}
.vaultIcon-mini::after {
  content: "";
  display: block;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  pointer-events: none;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1rem;
  background-color: white;
  color: rgba(0, 0, 0, 0.6);
  --color-buttonIcon: rgba(0, 0, 0, 0.6);
  min-height: 32px;
  border-radius: 8px;
  padding: 0 10px 1px;
  position: relative;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15);
}
.button.large {
  height: 44px;
  min-width: 44px;
}
.button * {
  flex-shrink: 0;
}
.button.noButton {
  background-color: transparent;
  box-shadow: none;
}
.button:focus {
  box-shadow: 0 0 0 3px rgba(0, 102, 204, 0.3), inset 0 0 0 1px rgba(0, 102, 204, 0.3), inset 0 0 0 1px rgba(0, 0, 0, 0.15);
}
.button:active {
  transition: none;
}
.button.submit, .button:active {
  background-color: #1173d4;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15);
  color: white;
  --color-buttonIcon: white;
}
.button.submit:hover, .button:active:hover {
  background-color: #0d80f2;
}
.button.submit:active, .button:active:active {
  background-color: #1173d4;
}
.button.icon {
  width: 34px;
  padding: 0;
}

button[role=switch] {
  width: 48px;
  height: 32px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  box-shadow: inset 0 0 16px 0 rgba(80, 179, 71, 0);
  position: relative;
  background-color: #d9d9d9;
  transition: all 0.25s ease;
}
button[role=switch] .thumb {
  width: 26px;
  height: 26px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 8px rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 2px;
  left: 2px;
  transition: left 0.25s cubic-bezier(0.5, 0.25, 0.37, 1.485);
}
button[role=switch][aria-checked=true] {
  border: 1px solid #45993d;
  box-shadow: inset 64px 0 16px 0px #50b347;
}
button[role=switch][aria-checked=true] .thumb {
  left: 18px;
}
button[role=switch]:focus {
  box-shadow: 0 0 0 2px rgba(0, 102, 204, 0.3), inset 0 0 16px 0 rgba(80, 179, 71, 0);
}
button[role=switch]:focus[aria-checked=true] {
  box-shadow: 0 0 0 2px rgba(0, 102, 204, 0.3), inset 64px 0 16px 0px #50b347;
}

.buttonList .buttonList-button {
  min-height: 43px;
  border-radius: 0;
  background-color: white;
  font-weight: bold;
  box-shadow: inset 0px 1px 0px #ededed, inset -1px 0px 0px #d9d9d9, inset 1px 0px 0px #d9d9d9;
  padding: 14px 16px 0;
  position: relative;
}
.buttonList .buttonList-button:first-child {
  border-radius: 8px 8px 0 0;
  box-shadow: inset 0px 1px 0px #d9d9d9, inset -1px 0px 0px #d9d9d9, inset 1px 0px 0px #d9d9d9;
  padding-top: 13px;
}
.buttonList .buttonList-button:first-child a, .buttonList .buttonList-button:first-child button.fullSize, .buttonList .buttonList-button:first-child label {
  border-radius: 8px 8px 0 0;
}
.buttonList .buttonList-button:last-child {
  min-height: 44px;
  border-radius: 0 0 8px 8px;
  box-shadow: inset 0px 1px 0px #ededed, inset -1px 0px 0px #d9d9d9, inset 0px -1px 0px #d9d9d9, inset 1px 0px 0px #d9d9d9;
}
.buttonList .buttonList-button:last-child a, .buttonList .buttonList-button:last-child button.fullSize, .buttonList .buttonList-button:last-child label {
  border-radius: 0 0 8px 8px;
}
.buttonList .buttonList-button:only-child {
  min-height: 44px;
  border-radius: 8px;
  box-shadow: inset 0px 1px 0px #d9d9d9, inset -1px 0px 0px #d9d9d9, inset 0px -1px 0px #d9d9d9, inset 1px 0px 0px #d9d9d9;
}
.buttonList .buttonList-button:only-child a, .buttonList .buttonList-button:only-child button.fullSize, .buttonList .buttonList-button:only-child label {
  border-radius: 8px;
}
.buttonList .buttonList-button a, .buttonList .buttonList-button button.fullSize, .buttonList .buttonList-button label {
  font-weight: bold;
  text-decoration: none;
  color: #333333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  padding: 13px 40px 13px 16px;
  width: 100%;
  height: 100%;
}
.buttonList .buttonList-button a *, .buttonList .buttonList-button button.fullSize *, .buttonList .buttonList-button label * {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 0;
  flex-shrink: 0;
}
.buttonList .buttonList-button a:focus, .buttonList .buttonList-button button.fullSize:focus, .buttonList .buttonList-button label:focus {
  box-shadow: 0 0 0 3px rgba(0, 102, 204, 0.3), inset 0 0 0 1px rgba(0, 102, 204, 0.3);
  z-index: 999999;
}
.buttonList .buttonList-button a:active, .buttonList .buttonList-button button.fullSize:active, .buttonList .buttonList-button label:active {
  background-color: #1173d4;
  color: white;
  z-index: 999999;
}
.buttonList .buttonList-button .buttonIcon {
  position: relative;
  float: right;
  z-index: 1000000;
  pointer-events: none;
}
.buttonList label.expandableButton {
  display: flex;
  justify-content: space-between;
  width: calc(100% + 32px);
  height: 44px;
  margin: -13px 0 0 -16px;
  padding: 14px 16px 0;
  position: relative;
}
.buttonList label.expandableButton span.currentSelection {
  margin-right: 20px;
  margin-left: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: opacity 0.25s ease;
  font-weight: normal;
  flex-shrink: 1;
}
.buttonList label.expandableButton span.currentSelection .vaultIcon-mini, .buttonList label.expandableButton span.currentSelection .itemIcon-mini {
  margin-bottom: -3px;
  float: left;
  margin-right: 6px;
}
.buttonList label.expandableButton::after {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: 15px;
  right: 16px;
  background-image: url(images/chevron-small.svg);
  transition: transform 0.25s ease;
  transform: rotate(90deg);
}
.buttonList label.expandableButton.expanded span.currentSelection {
  opacity: 0;
}
.buttonList label.expandableButton.expanded::after {
  transform: rotate(-90deg);
}
.buttonList .expandableOptions {
  width: calc(100% + 6px);
  margin: 0 -3px;
  padding: 0 3px;
  overflow: hidden;
  transition: height 0.25s ease;
  height: 215px;
}
.buttonList .expandableOptions li[role=option] {
  height: 43px;
  position: relative;
  top: 0;
  color: rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 1px 0 #ededed;
  display: flex;
  align-items: center;
}
.buttonList .expandableOptions li[role=option] .vaultIcon-small, .buttonList .expandableOptions li[role=option] .itemIcon-small {
  margin-right: 6px;
  transition: all 0.25s ease;
  flex-shrink: 0;
}
.buttonList .expandableOptions li[role=option] span.label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
}
.buttonList .expandableOptions li[role=option]::before {
  transition: opacity 0.25s ease;
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15);
  margin-right: 12px;
  flex-shrink: 0;
}
.buttonList .expandableOptions li[role=option][aria-selected=true]::after {
  order: -1;
  transition: opacity 0.25s ease;
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: #0d80f2;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.15);
  margin: 0 -15px 0 3px;
  flex-shrink: 0;
}
.buttonList .expandableOptions li[role=option]:focus::before {
  box-shadow: 0 0 0 2px rgba(0, 102, 204, 0.3);
  border-color: #0d80f2;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15), inset 0 0 0 1px rgba(0, 102, 204, 0.3), 0 0 0 2px rgba(0, 102, 204, 0.3);
}
.buttonList .expandableOptions .indented {
  margin-left: 28px;
}
.buttonList .expandableOptions.collapsed {
  height: 0;
}

.expandableSelectMenu {
  display: block;
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1000;
  padding: 0;
  /* this is to override the default button styling */
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.15), 0px 0px 0px 0px transparent;
  /*	transition: 
  		padding       0.15s ease,
  		width         0.15s ease,
  		margin-left   0.15s ease,
  		transform     0.15s ease,
  		box-shadow    0.15s ease,
  		border-radius 0.15s ease; // only used for item list select when scrolling*/
}
.expandableSelectMenu ul {
  margin-bottom: 0;
  border-bottom: none;
  /*		transition: 
  			border  0.15s ease,
  			margin  0.15s ease,
  			padding 0.15s ease;*/
}
.expandableSelectMenu li {
  height: 32px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  padding: 0 30px 0 12px;
  overflow: hidden;
  /*		transition: 
  			height  0.15s ease, 
  			padding 0.15s ease,
  			opacity 0.15s ease;*/
}
.expandableSelectMenu li span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-shrink: 1;
}
.expandableSelectMenu li img {
  margin-left: 12px;
  /*			transition: margin-right 0.15s ease;*/
}
.expandableSelectMenu li[aria-selected=false] {
  height: 0;
  opacity: 0;
}
.expandableSelectMenu li[aria-selected=true]::before {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  transform: translateX(-32px);
  background-image: url(images/list-checkmark.svg);
  /*				transition: transform 0.15s ease;*/
}
.expandableSelectMenu li[aria-selected=true]::after {
  content: "";
  background-image: url(images/selectIndicator.svg);
  width: 10px;
  height: 16px;
  position: absolute;
  top: 8px;
  right: 12px;
  transition: opacity 0.15s ease;
}
.expandableSelectMenu li[aria-selected=true]:active::after {
  background-position: 0 -16px;
}
.expandableSelectMenu.expanded {
  padding: 8px 0;
  width: calc(100% + 8px) !important;
  transform: translateX(-4px);
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.15), 0px 2px 16px 0px rgba(0, 0, 0, 0.07);
  background-color: white;
}
.expandableSelectMenu.expanded:active {
  background-color: white;
}
.expandableSelectMenu.expanded li {
  padding: 0 0 0 34px;
  color: #333333;
}
.expandableSelectMenu.expanded li img {
  margin-right: 14px;
}
.expandableSelectMenu.expanded li[aria-selected=false] {
  height: 32px;
  opacity: 1;
}
.expandableSelectMenu.expanded li[aria-selected=true]::before {
  transform: translateX(-24px);
}
.expandableSelectMenu.expanded li[aria-selected=true]::after {
  opacity: 0;
}
.expandableSelectMenu.expanded li:focus {
  background-color: #1173d4;
  color: white;
}
.expandableSelectMenu.expanded li:focus[aria-selected=true]::before {
  background-position: 0 -18px;
}
.expandableSelectMenu.expanded ul {
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.expandableSelectMenu.expanded ul:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}

.inlineSelectButton {
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.05);
  background-clip: padding-box;
  background-color: white;
  overflow: hidden;
  height: 32px;
  transition: all 0.25s ease;
  position: relative;
}
.inlineSelectButton::after {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: 9px;
  right: 9px;
  background-image: url(images/chevron-small-right.svg);
  transition: transform 0.25s ease;
  transform: rotate(90deg);
}
.inlineSelectButton li[role=option] {
  height: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  border-bottom: 0px solid #ededed;
  transition: all 0.25s ease 0s;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}
.inlineSelectButton li[role=option] h4 {
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
  transition: all 0.25s ease 0s;
}
.inlineSelectButton li[role=option] p {
  transition: all 0.25s ease 0s;
}
.inlineSelectButton li[role=option]::before {
  transition: left 0.25s ease 0s;
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 12px;
  left: -20px;
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.inlineSelectButton li[role=option].active {
  height: 45px;
  padding: 7px 0 0 11px;
}
.inlineSelectButton li[role=option].active p {
  color: transparent;
}
.inlineSelectButton li[role=option].active::before {
  border: 1px solid rgba(0, 0, 0, 0.25);
}
.inlineSelectButton li[role=option].active::after {
  transition: left 0.25s ease 0s;
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 15px;
  left: -17px;
  background-color: #0d80f2;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.inlineSelectButton li[role=option]:focus::before {
  box-shadow: 0 0 0 2px rgba(0, 102, 204, 0.3);
}
.inlineSelectButton.expanded {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
  /* set expanded height in specific instances */
}
.inlineSelectButton.expanded::after {
  transform: rotate(-90deg);
}
.inlineSelectButton.expanded li[role=option] {
  height: 45px;
  padding: 6px 12px 0 40px;
  position: relative;
  margin-bottom: 1px;
  border-bottom: 1px solid #ededed;
}
.inlineSelectButton.expanded li[role=option]:last-child {
  border: none;
  height: 44px;
}
.inlineSelectButton.expanded li[role=option]::before {
  left: 12px;
}
.inlineSelectButton.expanded li[role=option].active p {
  color: rgba(0, 0, 0, 0.6);
}
.inlineSelectButton.expanded li[role=option].active::after {
  left: 15px;
}
.inlineSelectButton:focus {
  box-shadow: 0 0 0 2px rgba(0, 102, 204, 0.3), 0px 0px 0px rgba(0, 0, 0, 0.05);
}

.rangeWithFill {
  position: relative;
}
.rangeWithFill input[type=range] {
  -webkit-appearance: none;
  padding: 0;
  height: 32px;
  width: 100%;
  z-index: 9;
  background: transparent;
}
.rangeWithFill input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: white;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.25);
  z-index: 8;
}
.rangeWithFill input[type=range]::-moz-range-thumb {
  -moz-appearance: none;
  background-color: white;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.25);
  z-index: 8;
}
.rangeWithFill input[type=range]::-moz-range-track {
  -moz-appearance: none;
  background: transparent;
}
.rangeWithFill input[type=range]:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 2px rgba(0, 102, 204, 0.3);
}
.rangeWithFill input[type=range]:focus::-moz-range-thumb {
  box-shadow: 0 0 0 2px rgba(0, 102, 204, 0.3);
}
.rangeWithFill .range-track {
  width: 100%;
  height: 6px;
  background-color: #d9d9d9;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  margin-top: -23px;
}
.rangeWithFill .range-track .range-trackFill {
  width: 50%;
  /* width must be set via javascript to match the percentage of the max value of the range input */
  height: 6px;
  background-color: #50b347;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
}

select {
  background: url(images/select_indicator.svg) calc(100% - 12px) 50% no-repeat #fff;
  padding-right: 40px;
  text-align: left;
  width: 100%;
}

#lock_screen {
  display: block;
  width: 100%;
  height: 100%;
  z-index: 2147483647;
  /* @group Transitions */
  /* @end */
}
#lock_screen #fade {
  position: fixed;
  background-color: #b3b3b3;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.75;
  z-index: -3;
}
#lock_screen .door {
  position: absolute;
  display: block;
  width: 100%;
  background-color: #f7f7f7;
}
#lock_screen .door_bevel {
  position: absolute;
  width: 100%;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.01);
  overflow: hidden;
}
#lock_screen .door_bevel .bevel_ripples {
  display: block;
  margin: auto;
  left: 40px;
  width: 220px;
  height: 62px;
}
#lock_screen .door_cutout-mask {
  position: absolute;
  width: 104px;
  height: 52px;
  overflow: hidden;
  left: calc(50% - 52px);
}
#lock_screen .door_cutout-mask .door_cutout {
  content: "";
  display: block;
  width: 100%;
  height: 104px;
  border-radius: 50%;
  background-color: #ededed;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15);
}
#lock_screen .door_bumper {
  position: absolute;
  width: 100%;
  height: 15px;
  background-color: #ededed;
  z-index: -1;
}
#lock_screen #door-top {
  height: calc(50% - 58px);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  transition: top 0.4s ease 0s;
  top: 0;
}
#lock_screen #door-top .door_bevel {
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.75), inset 0 2px 0 rgba(0, 0, 0, 0.07), inset 0 -1px 0 rgba(255, 255, 255, 0.5);
  bottom: 0;
}
#lock_screen #door-top .door_cutout-mask {
  bottom: -1px;
}
#lock_screen #door-top #lock {
  display: block;
  position: absolute;
  width: 112px;
  height: 112px;
  bottom: -57px;
  /* half of height + 1 for divider */
  left: calc(50% - 56px);
  z-index: 1;
}
#lock_screen #door-top #lock::before, #lock_screen #door-top #lock::after {
  content: "";
  display: block;
  position: absolute;
  width: 92px;
  height: 92px;
  z-index: -1;
  border-radius: 50%;
  top: 10px;
  left: 10px;
}
#lock_screen #door-top #lock::before {
  background: linear-gradient(to bottom, #0d80f2 0%, #0db9f2 100%);
}
#lock_screen #door-top #lock::after {
  transition: opacity 1s ease, background 0s 1s;
  opacity: 0;
}
#lock_screen #door-top .door_bumper {
  bottom: -15px;
  z-index: -1;
}
#lock_screen #door-top .door_bumper::before {
  content: "";
  display: block;
  background-color: #ededed;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  position: absolute;
  left: calc(50% - 65px);
  top: -64px;
}
#lock_screen #door-top .door_shadow {
  position: absolute;
  width: 100%;
  height: 16px;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: -2;
  bottom: -16px;
}
#lock_screen #door-top .door_shadow::before {
  content: "";
  display: block;
  background-color: rgba(0, 0, 0, 0.15);
  width: 132px;
  height: 132px;
  border-radius: 50%;
  position: absolute;
  left: calc(50% - 66px);
  top: -65px;
}
#lock_screen #door-bottom {
  height: calc(50% + 56px);
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
  transition: bottom 0.4s ease 0s;
  bottom: 0;
}
#lock_screen #door-bottom .door_bevel {
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75), inset 0 -2px 0 rgba(0, 0, 0, 0.07), inset 0 1px 0 rgba(255, 255, 255, 0.5);
  top: 0;
}
#lock_screen #door-bottom .door_bevel .bevel_ripples {
  margin-top: -32px;
}
#lock_screen #door-bottom .door_cutout-mask {
  top: -1px;
}
#lock_screen #door-bottom .door_cutout-mask .door_cutout {
  margin-top: -50%;
}
#lock_screen #door-bottom .door_bumper {
  top: -15px;
  z-index: -2;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
}
#lock_screen form {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  top: 90px;
  z-index: 1;
  transition: width 0.5s ease, left 0.5s ease;
  width: 300px;
  left: calc(50% - 150px);
  text-align: center;
  align-items: center;
}
#lock_screen form #masterPassword {
  position: relative;
  width: 100%;
  z-index: 1;
}
#lock_screen form #masterPassword #masterPassword-input {
  width: 100%;
  height: 42px;
  padding: 0 63px 0 15px;
  background-color: white;
  border-radius: 5px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15);
  background-clip: padding-box;
}
#lock_screen form #masterPassword #masterPassword-input::placeholder {
  transition: color 0.5s ease;
}
#lock_screen form #masterPassword #masterPassword-input:focus {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15), inset 0 0 0 1px rgba(0, 102, 204, 0.3), 0 0 0 2px rgba(0, 102, 204, 0.3);
}
#lock_screen form #masterPassword #unlockButton {
  position: absolute;
  width: 44px;
  height: 32px;
  top: 5px;
  right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#lock_screen form #masterPassword #unlockButton input {
  width: 44px;
  height: 32px;
  position: absolute;
  border-radius: 3px;
  transition: background-color 0.15s ease, box-shadow 0.15s ease, opacity 0.4s ease 0.1s;
}
#lock_screen form #masterPassword #unlockButton::after {
  content: url(images/button_icon-unlock.svg);
  width: 20px;
  height: 20px;
  display: block;
  position: relative;
  pointer-events: none;
}
#lock_screen form #accounts {
  background-color: rgba(0, 0, 0, 0.03);
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.07);
  border-radius: 0 0 5px 5px;
  padding: 10px 2px 5px 5px;
  display: flex;
  margin-top: -5px;
  flex-grow: 0;
  overflow: hidden;
  max-width: 100%;
  height: 39px;
}
#lock_screen form #accounts input[type=radio] {
  position: absolute;
}
#lock_screen form #accounts .account label {
  display: flex;
  align-items: center;
  font-weight: 600;
  opacity: 0.5;
  margin-right: 3px;
}
#lock_screen form #accounts .account label .itemIcon-small {
  flex-shrink: 0;
}
#lock_screen form #accounts .account label .itemIcon-small::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  transition: opacity 0.25s ease-in-out 0s;
}
#lock_screen form #accounts .account label .accountName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 0;
  text-align: left;
  transition: width 0.25s ease-in-out 0s, max-width 0.25s ease-in-out 0s, opacity 0.25s ease-in-out 0s;
  opacity: 0;
  padding-right: 0;
}
#lock_screen form #accounts .account label:hover {
  opacity: 1;
}
#lock_screen form #accounts .account:not(.unlocked) input[type=radio]:checked + label {
  max-width: 140px;
  opacity: 1;
}
#lock_screen form #accounts .account:not(.unlocked) input[type=radio]:checked + label .accountName {
  opacity: 1;
  max-width: 200px;
  padding-right: 3px;
  margin-left: 6px;
}
#lock_screen form #accounts .account input[type=radio]:focus + label {
  opacity: 1;
}
#lock_screen form #accounts .account input[type=radio]:focus + label .itemIcon-small {
  box-shadow: 0 0 0 2px rgba(0, 102, 204, 0.3);
}
#lock_screen form #accounts .account input[type=radio]:focus + label .itemIcon-small::after {
  box-shadow: inset 0 0 0 1px rgba(0, 102, 204, 0.3), inset 0 0 0 1px rgba(0, 0, 0, 0.15);
}
#lock_screen form #accounts .account.unlocked {
  transition: transform 0.25s ease-in 0.5s;
  transform: translateY(-30px);
}
#lock_screen form #accounts .account.unlocked label {
  transition: opacity 0.25s ease-in-out 0s, margin-right 0.25s ease-in-out 0.75s;
  opacity: 1;
  margin-right: -24px;
}
#lock_screen form #accounts .account.unlocked label .itemIcon-small::before {
  opacity: 1;
  background-color: #50b347;
  content: url(images/checkmark-small-white.svg);
  padding-top: 3px;
}
#lock_screen form #accounts .account.working:not(.unlocked) label {
  opacity: 1;
}
#lock_screen form #accounts .account.working:not(.unlocked) label .itemIcon-small::before {
  opacity: 1;
  content: url(images/spinner-small-white.svg);
  background-color: rgba(0, 0, 0, 0.4);
  animation: spin 0.6s infinite steps(8);
  width: 16px;
  height: 16px;
  padding: 8px;
  margin-top: -5px;
  margin-left: -5px;
}
@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
#lock_screen form #accounts.allUnlocked {
  transition: height 0.25s ease-in-out 0.5s, padding 0.25s ease-in-out 0.5s;
  height: 0px;
  padding: 0 2px 0 5px;
}
#lock_screen form #messages {
  position: relative;
  margin-top: 16px;
  width: 100%;
}
#lock_screen form #messages .message {
  position: absolute;
  width: 100%;
  text-align: center;
  transition: opacity 0.15s ease 0s, transform 0.15s ease 0s;
  transform: translateY(10px);
  opacity: 1;
}
#lock_screen form #messages .message p {
  margin-top: 4px;
}
#lock_screen form #messages .message button {
  font: inherit;
  color: #1173d4;
  cursor: pointer;
}
#lock_screen form #messages .message.transition-enter {
  opacity: 0;
}
#lock_screen form #messages .message.transition-enter-active, #lock_screen form #messages .message.transition-enter-done, #lock_screen form #messages .message.transition-exit {
  opacity: 1;
  transform: translateY(0px);
}
#lock_screen form #messages .message.transition-exit-active, #lock_screen form #messages .message.transition-exit-done {
  opacity: 0;
  transform: translateY(-10px);
}
#lock_screen.stepRequired {
  /*		#door-top #lock::after {
  			background: linear-gradient(to bottom, $color-purple-dark 0%, adjust-hue($color-purple-dark, 35) 100%);
  			opacity: 1;
  			transition:
  				opacity 0s ease,
  				background 0s 0s ease;
  		}*/
}
#lock_screen.stepRequired #stepRequired {
  width: 320px;
  position: absolute;
  bottom: 100px;
  text-align: center;
  left: calc(50% - 160px);
  top: 74px;
  justify-content: center;
}
#lock_screen.stepRequired #stepRequired p {
  margin-bottom: 8px;
}
#lock_screen.stepRequired #stepRequired button.button {
  display: inline-block;
  margin-top: 8px;
}
#lock_screen.stepRequired #stepRequired p.secondary {
  position: fixed;
  width: 320px;
  left: calc(50% - 160px);
  bottom: 20px;
}
#lock_screen.stepRequired #stepRequired button {
  margin-top: 32px;
  transition: opacity 0.25s ease;
}
#lock_screen.stepRequired #stepRequired button.unlock-with-master-password {
  opacity: 0;
}
#lock_screen.stepRequired #stepRequired .spinner {
  margin-bottom: -3px;
  margin-right: 8px;
}
#lock_screen.stepRequired #stepRequired.transition-enter-active button.unlock-with-master-password {
  opacity: 1;
  transition-delay: 2s;
}
#lock_screen.stepRequired #stepRequired.transition-enter-done button.unlock-with-master-password {
  opacity: 1;
}
#lock_screen.stepRequired #stepRequired.transition-exit-active {
  opacity: 0;
}
#lock_screen.stepRequired #stepRequired.transition-exit-active button {
  opacity: 0;
}
#lock_screen.error #door-top #lock::after {
  background: linear-gradient(to bottom, #c04830 0%, #e6735c 100%);
  opacity: 1;
  transition: opacity 1s ease, background 0s 1s ease;
}
#lock_screen.error #masterPassword #unlockButton input {
  background-color: #c04830;
}
#lock_screen.working #masterPassword #unlockButton::after {
  content: url(images/spinner-small-white.svg);
  width: 16px;
  height: 16px;
  animation: spin 0.6s infinite steps(8);
}
@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
#lock_screen #learnMore {
  cursor: pointer;
}

header#popup-header {
  z-index: -1;
  padding: 0 20px;
}
header#popup-header input[type=search] {
  font-size: 28px;
  padding-left: 38px;
  height: 44px;
  background: url(images/icon-search.svg) no-repeat;
  flex-grow: 1;
}
header#popup-header input[type=search]::placeholder {
  color: #bfbfbf;
  transition: color 0.25s ease-in-out;
}
header#popup-header input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  background: url(images/buttonIcon-clear.svg) no-repeat;
}
header#popup-header button {
  margin-left: 10px;
  position: relative;
}
header#popup-header button:first-of-type {
  margin-left: 20px;
}
header#popup-header button:last-of-type {
  margin: 0 -8px 0 4px;
}
header#popup-header button.alert .alert {
  position: absolute;
  width: 24px;
  height: 24px;
  border: solid 2px white;
  background: url(images/buttonIcon-alert.svg) center center no-repeat #6a5fbf;
  border-radius: 50%;
  margin: -8px 0 0 8px;
}
header#popup-header button.alert .alert.warning {
  background: url(images/buttonIcon-warning.svg) center center no-repeat #c04830;
}
header#popup-header .floating {
  transition: transform 0.35s cubic-bezier(0.525, -0.005, 0.25, 1.65), margin-right 0.25s ease-in-out;
  transform: scale(1);
}
header#popup-header .floating:hover {
  transform: scale(1.15);
}

#itemListPane {
  border-radius: 8px 8px 0 0;
  position: relative;
  background-color: white;
}
#itemListPane header {
  position: absolute;
  width: 100%;
  height: 32px;
  background-color: #f7f7f7;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.15), inset 0 1px 0 0 rgba(0, 0, 0, 0.15);
}
#itemListPane header.placeholder img {
  margin-top: -1px;
}
#itemListPane header #itemListSelector {
  width: 100%;
  z-index: 100000;
}
#itemListPane header #itemListSelector:not(.expanded) {
  background-color: #f7f7f7;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.15), inset 0 1px 0 0 rgba(0, 0, 0, 0.15), inset -1px 0 0 0 rgba(0, 0, 0, 0.15);
}
#itemListPane header #itemListSelector:not(.expanded) li {
  padding: 0 32px 0 20px;
}
#itemListPane header #itemListSelector:not(.expanded) li::before {
  display: none;
}
#itemListPane header #itemListSelector:not(.expanded) li::after {
  right: 17px;
}
#itemListPane header #itemListSelector:not(.expanded):focus {
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.15), inset 0 1px 0 0 rgba(0, 0, 0, 0.15), inset -1px 0 0 0 rgba(0, 0, 0, 0.15), inset 0 0 0 1px rgba(0, 102, 204, 0.3), 0 0 0 3px rgba(0, 102, 204, 0.3);
}
#itemListPane header #itemListSelector:not(.expanded):active {
  background-color: #1173d4;
  color: white;
}
#itemListPane header #itemListSelector.scrolling {
  border-radius: 8px 8px 0 0;
}
#itemListPane header #itemListSelector.expanded {
  border-radius: 8px;
}
#itemListPane header #itemListSelector.expanded.allItems {
  transform: translateY(-8px);
  max-height: 366px;
}
#itemListPane header #itemListSelector.expanded.suggestions {
  transform: translateY(-40px);
  max-height: 398px;
}
#itemListPane header #itemListSelector.expanded.other {
  transform: translateY(-60px);
  max-height: 418px;
}
#itemListPane header #itemListSelector.expanded li img {
  margin-right: 20px;
}
#itemListPane header #itemListSelector li::after {
  transition: none;
}
#itemListPane header #clearSearch {
  width: 100%;
  text-align: center;
  line-height: 32px;
}
#itemListPane .itemListScrolling {
  position: relative;
  top: 32px;
}
#itemListPane .itemListScrolling ul li {
  display: flex;
  align-items: flex-start;
  position: relative;
  overflow: hidden;
  height: 50px;
  padding-top: 1px;
}
#itemListPane .itemListScrolling ul li::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  position: absolute;
  left: 0;
  background-color: rgba(0, 0, 0, 0.07);
  z-index: 0;
  top: 0;
}
#itemListPane .itemListScrolling ul li:first-child::after {
  content: none;
}
#itemListPane .itemListScrolling ul li.favorite div[class*=itemIcon-]::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  position: absolute;
  right: -4px;
  bottom: 0;
  background: url(images/favorites-mini.svg) no-repeat;
  background-size: 100%;
  z-index: 1;
}
#itemListPane .itemListScrolling ul li .itemIcon-medium {
  display: block;
  margin: 9px 8px 8px 20px;
  flex-shrink: 0;
  position: relative;
}
#itemListPane .itemListScrolling ul li .itemIcon-medium.placeholder {
  background-color: rgba(0, 0, 0, 0.07);
  border-radius: 6px;
}
#itemListPane .itemListScrolling ul li .itemIcon-medium.custom {
  padding: 1px;
}
#itemListPane .itemListScrolling ul li .itemIcon-medium.custom img {
  border-radius: 6px;
  background-color: white;
  width: 30px;
  height: 30px;
}
#itemListPane .itemListScrolling ul li .itemIcon-medium.custom::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 6px;
  position: absolute;
  top: 1px;
  left: 1px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.4);
}
#itemListPane .itemListScrolling ul li .itemIcon-medium img {
  width: 100%;
  height: 100%;
}
#itemListPane .itemListScrolling ul li .details {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-height: 34px;
  margin: 8px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1 1 auto;
  margin-right: 10px;
}
#itemListPane .itemListScrolling ul li .details span {
  flex-shrink: 0;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#itemListPane .itemListScrolling ul li .details .secondary {
  flex-shrink: 0;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#itemListPane .itemListScrolling ul li button {
  opacity: 0;
  position: absolute;
  right: 0;
  border-radius: 16px;
  padding: 8px 10px 10px;
  height: 50px;
  background-color: white;
  border: 10px solid white;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15), 0 0 20px 10px white;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
}
#itemListPane .itemListScrolling ul li button:hover {
  background-color: white;
}
#itemListPane .itemListScrolling ul li:hover button {
  opacity: 1;
}
#itemListPane .itemListScrolling ul li.focus {
  background-color: #1173d4 !important;
  color: white;
  box-shadow: 0 1px 0 0 #1173d4;
}
#itemListPane .itemListScrolling ul li.focus .secondary {
  color: white;
}
#itemListPane .itemListScrolling ul li.focus button {
  background-color: #1173d4;
  border: 10px solid #1173d4;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5), 0 0 20px 10px #1173d4;
  color: white;
}
#itemListPane .itemListScrolling ul li.active {
  background-color: #d9d9d9;
}
#itemListPane .itemListScrolling ul li.active + li::after {
  background-color: #cacaca;
}
#itemListPane .itemListScrolling ul li.active button {
  background-color: #ededed;
  border: 10px solid #d9d9d9;
  box-shadow: inset 0 0 0 1px #b3b3b3, 0 0 20px 10px #d9d9d9;
}
#itemListPane .itemListScrolling#resultsSection h4 {
  opacity: 0;
  height: 0;
}
#itemListPane #searchResults {
  padding: 0 20px 20px;
  position: relative;
  top: 48px;
}
#itemListPane #searchResults p {
  text-align: center;
  color: #666666;
}
#itemListPane #searchResults hr {
  border-style: none;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.15);
  margin: 20px;
}
#itemListPane #searchResults button {
  width: 100%;
}

#itemDetails {
  z-index: 1;
  display: grid;
  grid-template-rows: 326px 56px;
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.15), -1px 0 0 0 rgba(0, 0, 0, 0.15);
  background-color: #f7f7f7;
}
#itemDetails.empty {
  background: url(images/emptyDetails.svg) center no-repeat;
  background-color: #f7f7f7;
}
#itemDetails #scrollingDetails {
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1;
  /* needed to get border radius masking on scrolling view */
}
#itemDetails .itemAlert {
  color: white;
  position: relative;
  padding: 10px 20px 10px 16px;
  overflow: hidden;
  margin: 20px 20px 0;
  border-radius: 8px;
}
#itemDetails .itemAlert img {
  float: right;
  margin: 0 10px 0 8px;
}
#itemDetails .itemAlert a,
#itemDetails .itemAlert .secondary {
  color: white;
}
#itemDetails .itemAlert .secondary {
  margin-top: 6px;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.25s, max-height 0.25s, margin-top 0.25s;
}
#itemDetails .itemAlert .secondary.transition-enter-active, #itemDetails .itemAlert .secondary.transition-enter-done, #itemDetails .itemAlert .secondary.transition-exit {
  max-height: 64px;
  opacity: 1;
}
#itemDetails .itemAlert .secondary.transition-exit-active {
  max-height: 0;
  margin-top: 0;
  opacity: 0;
}
#itemDetails .itemAlert::after {
  content: url(images/chevron-small-right-dark_bg.svg);
  width: 12px;
  height: 14px;
  position: absolute;
  top: 12px;
  right: 12px;
  transition: transform 0.25s ease-in-out;
  transform: rotate(90deg);
}
#itemDetails .itemAlert.alert {
  background-color: #c04830;
}
#itemDetails .itemAlert.advisory {
  background-color: #6a5fbf;
}
#itemDetails .itemAlert.expiry {
  background-color: #666666;
}
#itemDetails .itemAlert.success {
  background-color: #45993d;
}
#itemDetails .itemAlert:focus {
  box-shadow: 0 0 0 3px rgba(0, 102, 204, 0.3), inset 0 0 0 1px rgba(0, 102, 204, 0.3);
}
#itemDetails .itemAlert.transition-enter-active::after, #itemDetails .itemAlert.transition-enter-done::after, #itemDetails .itemAlert.transition-exit::after {
  transform: rotate(-90deg);
}
#itemDetails .itemAlert.transition-exit-active::after {
  transform: rotate(90deg);
}
#itemDetails header {
  display: grid;
  grid-template-columns: 60px calc(100% - 60px - 16px);
  grid-column-gap: 16px;
  margin: 20px 0;
  padding: 0 20px;
}
#itemDetails header .itemIcon-large {
  margin: -2px;
}
#itemDetails header .itemIcon-large.masked {
  margin: 0;
}
#itemDetails header .content h1 {
  margin: 1px 0 9px;
}
#itemDetails header .content input[type=submit] {
  float: right;
  margin: -8px 0 0 12px;
  cursor: pointer;
}
#itemDetails header .content p.vaultIndicator {
  display: flex;
  align-items: center;
}
#itemDetails header .content p.vaultIndicator .itemIcon-mini,
#itemDetails header .content p.vaultIndicator .vaultIcon-mini {
  float: left;
  margin-right: 6px;
  flex-shrink: 0;
}
#itemDetails header .content p.vaultIndicator span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#itemDetails section.itemOverviewSection {
  margin: 0 20px 8px;
  padding-bottom: 8px;
  position: relative;
}
#itemDetails section.itemOverviewSection h3 {
  text-transform: uppercase;
  color: #6a5fbf;
  margin: 0 16px 4px;
}
#itemDetails section.itemOverviewSection h3.hidden {
  display: none;
}
#itemDetails section.itemOverviewSection:last-of-type {
  margin-bottom: 6px;
}
#itemDetails section.itemOverviewSection:last-of-type .dataFieldGroup::after {
  content: none;
}
#itemDetails section.itemOverviewSection section.dataFieldGroup {
  position: relative;
}
#itemDetails section.itemOverviewSection:not(.\30 06) section.dataFieldGroup.primaryDetails {
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15);
  clear: both;
  padding: 0;
}
#itemDetails section.itemOverviewSection:not(.\30 06) section.dataFieldGroup.primaryDetails .dataField {
  border-radius: 0;
}
#itemDetails section.itemOverviewSection:not(.\30 06) section.dataFieldGroup.primaryDetails .dataField:first-child {
  border-radius: 8px 8px 0 0;
}
#itemDetails section.itemOverviewSection:not(.\30 06) section.dataFieldGroup.primaryDetails .dataField:last-child {
  border-radius: 0 0 8px 8px;
}
#itemDetails section.itemOverviewSection:not(.\30 06) section.dataFieldGroup.primaryDetails .dataField:only-child {
  border-radius: 8px;
}
#itemDetails section.itemOverviewSection:not(.\30 06) section.dataFieldGroup.primaryDetails .dataField:not(:first-child) {
  margin-top: 1px;
}
#itemDetails section.itemOverviewSection:not(.\30 06) section.dataFieldGroup.primaryDetails .dataField:not(:first-child)::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  position: absolute;
  left: 0;
  background-color: rgba(0, 0, 0, 0.07);
  z-index: 0;
  top: -1px;
}
#itemDetails section.itemOverviewSection:not(.\30 06) section.dataFieldGroup.primaryDetails .dataField:not(.notes):hover, #itemDetails section.itemOverviewSection:not(.\30 06) section.dataFieldGroup.primaryDetails .dataField:not(.notes):focus-within {
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.07), 0 -1px 0 0 rgba(0, 0, 0, 0.07);
}
#itemDetails footer.metadata {
  color: rgba(0, 0, 0, 0.6);
  font-size: 13px;
  padding: 0 20px 10px;
  text-align: center;
}
#itemDetails footer.toolbar {
  width: 100%;
  z-index: 2;
  padding: 4px 20px 20px;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
#itemDetails footer.toolbar.placeholder {
  padding: 0;
  display: inherit;
}
#itemDetails footer.toolbar.placeholder img {
  margin-top: -14px;
}
#itemDetails footer.toolbar:after {
  content: "";
  position: absolute;
  width: calc(100% - 16px);
  height: 16px;
  top: -16px;
  left: 0;
  background-image: linear-gradient(to bottom, transparent 0%, #f7f7f7 100%);
  z-index: 1;
}
#itemDetails footer.toolbar button {
  margin-left: 12px;
}
#itemDetails footer.toolbar button:first-child {
  margin-right: auto;
  margin-left: 0;
}
#itemDetails footer.toolbar button .spinner {
  display: none;
}
#itemDetails footer.toolbar button.disabled svg {
  opacity: 0.6;
}
#itemDetails footer.toolbar button.disabled svg:not(.spinner) {
  display: none;
}
#itemDetails footer.toolbar button.disabled .spinner {
  display: block;
  animation: spin 0.8s infinite steps(8);
}
@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
#itemDetails footer.toolbar button.disabled:active {
  background-color: white;
}
#itemDetails footer.toolbar button.shareButton {
  margin-left: 12px;
  padding: 0 12px;
}
#itemDetails footer.toolbar button.shareButton:focus {
  box-shadow: 0 0 0 3px rgba(0, 102, 204, 0.3), inset 0 0 0 1px rgba(0, 102, 204, 0.3), inset 0 0 0 1px rgba(0, 0, 0, 0.15);
}
#itemDetails footer.toolbar button.shareButton[aria-expanded=true]:not(:active) {
  background-color: rgba(0, 0, 0, 0.07);
}
#itemDetails footer.toolbar button.shareButton::after {
  display: none;
}
#itemDetails footer.toolbar ul.shareList {
  z-index: 2;
  min-width: 125px;
}

#largeType {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 1000;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15), 0 0 20px rgba(0, 0, 0, 0.15);
  transition: transform 0.25s ease-in-out;
  transform: translateY(calc(100% + 20px));
}
#largeType.transition-enter-active, #largeType.transition-enter-done, #largeType.transition-exit {
  transform: translateY(0);
}
#largeType.transition-exit-active {
  transform: translateY(calc(100% + 20px));
}
#largeType header {
  background-color: #ededed;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.07);
  height: 61px;
  display: flex;
  align-items: center;
  padding: 14px;
}
#largeType header h1 {
  font-size: 18px;
  flex-grow: 0;
  margin-right: 12px;
  position: relative;
  display: flex;
  align-items: center;
  line-height: 1em;
}
#largeType header h1 div.itemIcon-medium {
  margin-right: 10px;
}
#largeType header h2 {
  flex-grow: 1;
  padding-left: 12px;
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  font-weight: normal;
  font-style: normal;
  color: rgba(0, 0, 0, 0.6);
}
#largeType header button {
  flex-grow: 0;
}
#largeType .password {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(46px, 1fr));
  height: calc(100% - 60px);
  overflow: auto;
}
#largeType .password div {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
  align-content: flex-end;
}
#largeType .password div:nth-child(even) {
  background-color: #f7f7f7;
}
#largeType .password div span {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  line-height: normal;
}
#largeType .password div label {
  text-align: center;
  flex-grow: 0;
  height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#largeType .password.length-1to4 {
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
}
#largeType .password.length-1to4 div span {
  font-size: 15rem;
  margin: 90px 0 50px;
}
#largeType .password.length-5to10 {
  grid-template-columns: repeat(auto-fit, minmax(101px, 1fr));
}
#largeType .password.length-5to10 div span {
  font-size: 12rem;
  margin: 10px 0 -18px;
}
#largeType .password.length-11to14 {
  grid-template-columns: repeat(auto-fit, minmax(76px, 1fr));
}
#largeType .password.length-11to14 div span {
  font-size: 8.8rem;
  margin: 32px 0 8px;
}
#largeType .password.length-15to27 {
  grid-template-columns: repeat(auto-fit, minmax(61px, 1fr));
}
#largeType .password.length-15to27 div span {
  font-size: 6.4rem;
  margin: 16px 0 -4px;
}
#largeType .password.length-28to52 {
  grid-template-columns: repeat(auto-fit, minmax(45px, 1fr));
}
#largeType .password.length-28to52 div span {
  font-size: 4.8rem;
  margin: 12px 0 -8px;
}
#largeType .password.length-53to75 {
  grid-template-columns: repeat(auto-fit, minmax(38px, 1fr));
}
#largeType .password.length-53to75 div span {
  font-size: 3.4rem;
  margin: 10px 0 -5px;
}
#largeType .password.length-76plus {
  grid-template-columns: repeat(auto-fit, minmax(31px, 1fr));
}
#largeType .password.length-76plus div span {
  font-size: 2.8rem;
  margin: 10px 0 0;
}

.slideInMenu.widen-transition-enter-active #newItemMenuList,
.slideInMenu.widen-transition-enter-active #passwordGenerator, .slideInMenu.widen-transition-enter-done #newItemMenuList,
.slideInMenu.widen-transition-enter-done #passwordGenerator, .slideInMenu.widen-transition-exit #newItemMenuList,
.slideInMenu.widen-transition-exit #passwordGenerator {
  transform: translateX(-260px);
}
.slideInMenu.transition-exit-active #passwordGenerator {
  transform: translateX(0px);
}

#newItemMenuList {
  display: flex;
  width: 260px;
  padding: 0 16px;
  overflow-x: hidden;
  overflow-y: auto;
  flex-direction: column;
  flex-shrink: 0;
  transition: transform 0.25s ease;
}
#newItemMenuList .buttonList-button button {
  left: 26px;
  padding-right: 66px;
}
#newItemMenuList .buttonList-button button:focus, #newItemMenuList .buttonList-button button:active {
  box-shadow: none;
  background-color: transparent;
}
#newItemMenuList .buttonList-button svg {
  float: right;
  margin-top: -1px;
}
#newItemMenuList .buttonList-button:focus, #newItemMenuList .buttonList-button:active {
  box-shadow: 0 0 0 3px rgba(0, 102, 204, 0.3), inset 0 0 0 1px rgba(0, 102, 204, 0.3);
  z-index: 999999;
}
#newItemMenuList .buttonList-button:active {
  background-color: #1173d4;
}
#newItemMenuList .buttonList-button:active button {
  color: white;
}

#passwordGenerator {
  width: 350px;
  flex-shrink: 0;
  transition: transform 0.25s ease;
}

#settingsMenu {
  display: flex;
  width: 260px;
  padding: 0 16px;
  overflow-x: hidden;
  overflow-y: auto;
  flex-direction: column;
  justify-content: space-between;
}
#settingsMenu .buttonList:last-of-type {
  margin-top: auto;
}
#settingsMenu .alert {
  background-color: #6a5fbf;
  border-radius: 8px;
  padding: 12px 16px 0;
  color: white;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15);
  margin-top: 16px;
}
#settingsMenu .alert.warning {
  background-color: #c04830;
}
#settingsMenu .alert .secondary {
  color: white;
  margin-top: 6px;
}
#settingsMenu .alert .secondary a {
  color: white;
}
#settingsMenu .alert .secondary.fadeOut {
  max-height: 48px;
  overflow: hidden;
  margin-bottom: -12px;
  position: relative;
}
#settingsMenu .alert .secondary.fadeOut::after {
  content: "";
  display: block;
  position: absolute;
  background: linear-gradient(to bottom, rgba(106, 95, 191, 0) 0%, #6a5fbf 100%);
  height: 32px;
  width: 100%;
  bottom: 0;
}
#settingsMenu .alert footer {
  border-top: solid 1px rgba(255, 255, 255, 0.5);
  width: calc(100% + 32px);
  margin: 12px -16px 0;
  background-color: rgba(0, 0, 0, 0.07);
  padding: 0;
  display: flex;
  align-items: center;
  border-radius: 0 0 8px 8px;
}
#settingsMenu .alert footer a, #settingsMenu .alert footer button {
  color: white;
  height: 36px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  text-decoration: none;
  flex-grow: 1;
  border-radius: 0 0 0 8px;
}
#settingsMenu .alert footer a:focus, #settingsMenu .alert footer button:focus {
  box-shadow: 0 0 0 4px rgba(0, 102, 204, 0.3);
  background-color: rgba(0, 0, 0, 0.07);
}
#settingsMenu .alert footer a:active, #settingsMenu .alert footer button:active {
  background-color: rgba(0, 0, 0, 0.15);
}
#settingsMenu .alert footer button:last-child {
  width: 44px;
  flex-grow: 0;
  border-radius: 0 0 8px 0;
  background: url(images/buttonIcon-dismiss-light.svg) center center no-repeat;
  box-shadow: -1px 0 0 0 rgba(255, 255, 255, 0.5);
}
#settingsMenu .alert footer button:last-child:focus {
  background: url(images/buttonIcon-dismiss-light.svg) center center no-repeat rgba(0, 0, 0, 0.07);
  box-shadow: 0 0 0 4px rgba(0, 102, 204, 0.3), -1px 0 0 0 rgba(255, 255, 255, 0.5);
}
#settingsMenu .alert footer button:last-child:active {
  background-color: rgba(0, 0, 0, 0.15);
}
#settingsMenu #vaultSelector li button.settings {
  padding: 0;
  width: 32px;
  flex-shrink: 0;
  margin-left: 6px;
}

#passwordGenerator {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#passwordGenerator #generatedPassword {
  background-color: white;
  padding: 17px 20px 20px;
  /*div.password, input.password {
  		position: absolute;
  		z-index: 1;
  		width: 100%;
  		height: 100%;
  		text-align: center;
  		font-size: 18px;
  		border-radius: 8px;
  		text-indent: 12px;
  		padding: 15px 12px 13px 0;
  		transition: all 0.25s ease;
  	}*/
}
#passwordGenerator #generatedPassword #passwordField {
  display: block;
  width: 100%;
  height: 46px;
  position: relative;
}
#passwordGenerator #generatedPassword input.password {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 18px;
  border-radius: 8px;
  text-indent: 12px;
  padding: 15px 12px 13px 0;
  color: rgba(51, 51, 51, 0);
  caret-color: #333333;
  z-index: 0;
  transition: all 0.25s ease;
  transition-delay: 0.1s;
}
#passwordGenerator #generatedPassword input.password.smaller {
  font-size: 16px;
}
#passwordGenerator #generatedPassword input.password:focus {
  color: #333333;
  transition-delay: 0s;
}
#passwordGenerator #generatedPassword input.password:focus + .centerVertically {
  transition-delay: 0.1s;
  opacity: 0;
}
#passwordGenerator #generatedPassword .centerVertically {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  transition: all 0.25s ease;
  overflow: hidden;
}
#passwordGenerator #generatedPassword .centerVertically div.password {
  pointer-events: none;
  overflow: hidden;
  word-break: break-all;
  text-align: center;
  padding: 1px 10px 0;
  font-size: 18px;
  z-index: 1;
  line-height: 1em;
  letter-spacing: 0;
  background-color: white;
}
#passwordGenerator #generatedPassword .centerVertically div.password.smaller {
  font-size: 16px;
}
#passwordGenerator #generatedPassword #passwordActions {
  margin-top: 13px;
  display: flex;
}
#passwordGenerator #generatedPassword #passwordActions button:first-of-type,
#passwordGenerator #generatedPassword #passwordActions input[type=submit] {
  width: calc(50% - 28px);
}
#passwordGenerator #generatedPassword #passwordActions button {
  margin-right: 12px;
}
#passwordGenerator #generatedPassword #passwordActions #regeneratePassword {
  transition: none;
}
#passwordGenerator #generatedPassword #passwordActions #regeneratePassword.iconButton {
  margin-right: 12px;
  padding: 7px;
  background-clip: padding-box;
  border-radius: 16px;
  flex-shrink: 0;
  height: 32px;
  min-width: 32px;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: width 0.25s, padding 0.25s, border 0.25s, border-radius 0.25s, box-shadow 0.25s;
  white-space: nowrap;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15);
}
#passwordGenerator #generatedPassword #passwordActions #regeneratePassword.iconButton:active {
  background-color: #1a8cff;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15), 0 0 0 2px rgba(0, 102, 204, 0.3);
  color: #fff;
}
#passwordGenerator #generatedPassword #passwordActions #regeneratePassword.iconButton:focus {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15), inset 0 0 0 1px rgba(0, 102, 204, 0.3), 0 0 0 2px rgba(0, 102, 204, 0.3);
}
#passwordGenerator #generatedPassword #passwordActions #regeneratePassword.transition-enter-active, #passwordGenerator #generatedPassword #passwordActions #regeneratePassword.transition-enter-done {
  transform: rotate(360deg);
  transition: transform 0.5s ease-in-out;
}
#passwordGenerator #generatedPassword #passwordActions #regeneratePassword.transition-exit {
  transform: rotate(0deg);
}
#passwordGenerator #passwordRecipe {
  position: absolute;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  bottom: 54px;
  top: 128px;
}
#passwordGenerator #passwordRecipe::after {
  content: url(images/recipe_notch.svg);
  display: block;
  width: 20px;
  height: 9px;
  position: absolute;
  z-index: 1;
  top: -13px;
  left: calc(50% - 10px);
}
#passwordGenerator #passwordRecipe #scrollingRecipe {
  position: relative;
  z-index: 1;
  padding: 14px 20px;
  max-height: 268px;
  overflow-y: auto;
}
#passwordGenerator #passwordRecipe #scrollingRecipe fieldset {
  padding: 6px 0;
  /* wanted by Dan but caused this bullshit: https://github.com/agilebits/b5x-issues/issues/262
  position: relative; */
}
#passwordGenerator #passwordRecipe #scrollingRecipe fieldset label, #passwordGenerator #passwordRecipe #scrollingRecipe fieldset .label {
  width: 84px;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  z-index: -1;
  padding: 8px 8px 0 0;
  margin: 0;
  color: rgba(0, 0, 0, 0.6);
}
#passwordGenerator #passwordRecipe #scrollingRecipe fieldset #passwordType-list {
  float: right;
  width: 68%;
}
#passwordGenerator #passwordRecipe #scrollingRecipe fieldset #passwordType-list.expanded {
  height: 138px;
  width: 100%;
}
#passwordGenerator #passwordRecipe #scrollingRecipe fieldset .controls {
  width: 68%;
  height: 32px;
  float: right;
  justify-content: flex-end;
  display: flex;
  /*button[role=switch] {
  		float: right;
  	}*/
}
#passwordGenerator #passwordRecipe #scrollingRecipe fieldset .controls #password-lengthSlider {
  margin-right: 13px;
  width: calc(100% - 48px - 13px);
}
#passwordGenerator #passwordRecipe #scrollingRecipe fieldset .controls #password-lengthSlider input:focus {
  border: 0;
}
#passwordGenerator #passwordRecipe #scrollingRecipe fieldset .controls #password-lengthSlider input::-moz-focus-inner {
  border: 0;
}
#passwordGenerator #passwordRecipe #scrollingRecipe fieldset .controls #password-lengthNumber {
  width: 48px;
  min-width: 48px;
  text-align: center;
  text-indent: 11px;
  padding: 0;
  background-clip: padding-box;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15);
  height: 32px;
}
#passwordGenerator #passwordRecipe #scrollingRecipe fieldset .controls #password-lengthNumber:focus {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15), inset 0 0 0 1px rgba(0, 102, 204, 0.3), 0 0 0 2px rgba(0, 102, 204, 0.3);
}
#passwordGenerator #passwordRecipe #scrollingRecipe .recipeIngredients .typeRecipe fieldset {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.07);
  overflow: hidden;
  transition: all 0.25s ease;
  height: 0px;
  margin-top: 0;
  padding: 0 2px;
  opacity: 0;
}
#passwordGenerator #passwordRecipe #scrollingRecipe .recipeIngredients .typeRecipe.active fieldset {
  padding: 6px 2px;
  height: 44px;
  margin-top: 1px;
  opacity: 1;
}

#generatorHistory {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 54px;
  background-color: #f7f7f7;
  transition: height 0.25s ease;
  bottom: 0;
}
#generatorHistory:after {
  content: "";
  position: absolute;
  height: 32px;
  top: -32px;
  left: 0;
  background-image: linear-gradient(to bottom, transparent 0%, #f7f7f7 100%);
  z-index: 1;
  right: 16px;
}
#generatorHistory h1 {
  position: relative;
  z-index: 2;
  padding-right: 20px;
  padding-left: 20px;
  transition: padding 0.25s ease;
}
#generatorHistory h1 button {
  background-color: white;
  width: 100%;
  height: 32px;
  text-align: left;
  padding: 0 12px;
  border-radius: 8px;
  transition: background-color 0.25s, box-shadow 0.25s, border-radius 0.25s;
}
#generatorHistory h1 button img {
  float: right;
  margin-top: 2px;
  margin-left: 5px;
  transition: transform 0.25s;
  transform: rotate(-90deg);
}
#generatorHistory h1 button:active {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15), inset 0 0 0 1px rgba(0, 102, 204, 0.3), 0 0 0 2px rgba(0, 102, 204, 0.3);
  color: #333333;
}
#generatorHistory .content {
  height: 300px;
  padding: 20px 20px 0;
  flex-grow: 1;
  color: #333;
  border-top: none;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 0 0 6px 6px;
  transition: height 0.25s ease-in-out, margin-top 0.25s, padding 0.25s;
}
#generatorHistory .content input.search_box {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 16px;
}
#generatorHistory .content p.no_results {
  padding: 5px 5px 20px;
  text-align: center;
}
#generatorHistory input.search_box {
  height: 32px;
  padding: 1px 11px 0 33px;
  border-radius: 8px;
  background: url(images/button_icon-search.svg) 10px 50% no-repeat white;
  background-clip: padding-box;
  background-color: white;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15);
}
#generatorHistory input.search_box:focus {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15), inset 0 0 0 1px rgba(0, 102, 204, 0.3), 0 0 0 2px rgba(0, 102, 204, 0.3);
}
#generatorHistory .node_group {
  color: #666;
  position: relative;
}
#generatorHistory .node_group[data-nodes="1"]::before, #generatorHistory .node_group[data-nodes="2"]::before, #generatorHistory .node_group[data-nodes="3"]::before {
  bottom: 25px;
}
#generatorHistory .node_group::before {
  position: absolute;
  top: 7px;
  bottom: -15px;
  left: 13px;
  z-index: 0;
  display: block;
  width: 2px;
  content: "";
  background-color: rgba(0, 0, 0, 0.07);
}
#generatorHistory .node_group .node {
  position: relative;
}
#generatorHistory .node_group .node:first-child {
  margin-top: 0;
}
#generatorHistory .node_group .node .big {
  padding: 4px 10px 0 26px;
  position: relative;
  display: inline-block;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.03);
  border: solid 1px rgba(0, 0, 0, 0.15);
  margin: 0 0 8px 2px;
  height: 24px;
}
#generatorHistory .node_group .node .big:before {
  content: "";
  flex-shrink: 0;
  position: absolute;
  top: 2px;
  left: 4px;
  display: inline-block;
  margin-left: -2px;
  margin-right: 14px;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  background-color: #d2ccff;
  border: solid 1px rgba(0, 0, 0, 0.25);
}
#generatorHistory .node_group .node .big .header {
  text-transform: uppercase;
  position: relative;
  top: -1px;
}
#generatorHistory .node_group .node .dataField div:first-child {
  padding-left: 30px;
}
#generatorHistory .node_group .node .dataField div:first-child:before {
  content: "";
  flex-shrink: 0;
  left: 7px;
  position: absolute;
  top: 16px;
  display: inline-block;
  color: #c6cbd1;
  width: 12px;
  height: 12px;
  border-radius: 10px;
  background-color: #ededed;
  border: solid 1px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
#generatorHistory .node_group .node .dataField:hover div:first-child:after, #generatorHistory .node_group .node .dataField:focus-within div:first-child:after, #generatorHistory .node_group .node .dataField:focus div:first-child:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 13px;
  z-index: 0;
  display: block;
  width: 2px;
  content: "";
  background-color: rgba(0, 0, 0, 0.07);
  z-index: 0;
}
#generatorHistory .password_moment {
  min-width: 0;
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#generatorHistory .password_moment .password {
  display: inline;
}
#generatorHistory .password_moment .host {
  color: #333;
}
#generatorHistory.transition-enter-active, #generatorHistory.transition-enter-done, #generatorHistory.transition-exit {
  position: absolute;
  bottom: 0;
  height: 100%;
  padding-top: 20px;
}
#generatorHistory.transition-enter-active h1 button, #generatorHistory.transition-enter-done h1 button, #generatorHistory.transition-exit h1 button {
  border-radius: 8px 8px 0 0;
}
#generatorHistory.transition-enter-active h1 button img, #generatorHistory.transition-enter-done h1 button img, #generatorHistory.transition-exit h1 button img {
  transform: rotate(90deg);
}
#generatorHistory.transition-exit-active {
  height: 54px;
  padding-top: 0;
}
#generatorHistory.transition-exit-active h1 button {
  border-radius: 8px 8px 0 0;
}
#generatorHistory.transition-exit-active h1 button img {
  transform: rotate(-90deg);
}

#itemDetails section.dataFieldGroup .itemNotes {
  word-wrap: break-word;
}
#itemDetails section.dataFieldGroup .itemNotes * {
  user-select: text;
  cursor: text;
}
#itemDetails section.dataFieldGroup .itemNotes a {
  cursor: pointer;
}
#itemDetails section.dataFieldGroup .itemNotes h1, #itemDetails section.dataFieldGroup .itemNotes h2, #itemDetails section.dataFieldGroup .itemNotes h3, #itemDetails section.dataFieldGroup .itemNotes h4, #itemDetails section.dataFieldGroup .itemNotes h5, #itemDetails section.dataFieldGroup .itemNotes h6 {
  line-height: 1.1em;
  font-weight: bold;
  margin: 1rem 0 0;
  color: #333333;
  text-transform: none;
}
#itemDetails section.dataFieldGroup .itemNotes h1 {
  font-size: 1.5em;
}
#itemDetails section.dataFieldGroup .itemNotes h2 {
  font-size: 1.4em;
}
#itemDetails section.dataFieldGroup .itemNotes h3 {
  font-size: 1.3em;
}
#itemDetails section.dataFieldGroup .itemNotes h4 {
  font-size: 1.2em;
}
#itemDetails section.dataFieldGroup .itemNotes h5 {
  font-size: 1.1em;
}
#itemDetails section.dataFieldGroup .itemNotes h6 {
  font-size: 1em;
  line-height: 1.2em;
}
#itemDetails section.dataFieldGroup .itemNotes p {
  margin-top: 1rem;
}
#itemDetails section.dataFieldGroup .itemNotes strong {
  font-weight: bold;
}
#itemDetails section.dataFieldGroup .itemNotes em {
  font-style: italic;
}
#itemDetails section.dataFieldGroup .itemNotes code, #itemDetails section.dataFieldGroup .itemNotes pre {
  background-color: rgba(0, 0, 0, 0.03);
  white-space: pre-wrap;
  border-radius: 4px;
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.05);
  font-family: "Courier Prime Bits Mono", "Courier New", Courier, mono;
}
#itemDetails section.dataFieldGroup .itemNotes code {
  padding: 2px 6px 1px;
  line-height: 0.9rem;
}
#itemDetails section.dataFieldGroup .itemNotes pre {
  padding: 8px 10px 4px;
  tab-size: 4;
  margin-top: 1rem;
}
#itemDetails section.dataFieldGroup .itemNotes blockquote {
  padding: 0.75em 0 0.75em 1em;
  margin-top: 0.75em;
  border-left: 6px solid rgba(0, 0, 0, 0.15);
}
#itemDetails section.dataFieldGroup .itemNotes hr {
  width: 100%;
  height: 1px;
  border: none;
  background-color: rgba(0, 0, 0, 0.15);
  margin: 1.5em 0;
}
#itemDetails section.dataFieldGroup .itemNotes ul, #itemDetails section.dataFieldGroup .itemNotes ol {
  margin-top: 1rem;
  list-style-position: outside;
}
#itemDetails section.dataFieldGroup .itemNotes ul li, #itemDetails section.dataFieldGroup .itemNotes ol li {
  margin: 0.5em 0 0 28px;
  padding: 0 0 0 6px;
}
#itemDetails section.dataFieldGroup .itemNotes ul {
  list-style-type: disc;
}
#itemDetails section.dataFieldGroup .itemNotes ol {
  list-style-type: decimal;
}
#itemDetails section.dataFieldGroup .itemNotes h1:first-child, #itemDetails section.dataFieldGroup .itemNotes h2:first-child, #itemDetails section.dataFieldGroup .itemNotes h3:first-child, #itemDetails section.dataFieldGroup .itemNotes h4:first-child, #itemDetails section.dataFieldGroup .itemNotes h5:first-child, #itemDetails section.dataFieldGroup .itemNotes h6:first-child, #itemDetails section.dataFieldGroup .itemNotes p:first-child, #itemDetails section.dataFieldGroup .itemNotes pre:first-child,
#itemDetails section.dataFieldGroup .itemNotes blockquote:first-child, #itemDetails section.dataFieldGroup .itemNotes ul:first-child, #itemDetails section.dataFieldGroup .itemNotes ol:first-child, #itemDetails section.dataFieldGroup .itemNotes li:first-child, #itemDetails section.dataFieldGroup .itemNotes hr:first-child {
  margin-top: 0;
}

.slideInMenu {
  display: flex;
  position: fixed;
  overflow: hidden;
  top: 0px;
  width: 260px;
  background-color: #f7f7f7;
  z-index: 100000;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 16px 0 rgba(0, 0, 0, 0.15);
  bottom: 0;
  transition: right 0.25s ease, transform 0.25s ease, width 0.25s ease;
  right: -260px;
}
.slideInMenu::before {
  content: "";
  position: fixed;
  pointer-events: none;
  background-color: rgba(179, 179, 179, 0.6);
  top: 0;
  bottom: 0;
  left: 0;
  transition: right 0.25s ease, opacity 0.25s ease;
  right: 0;
  opacity: 0;
}
.slideInMenu.transition-enter-active, .slideInMenu.transition-enter-done, .slideInMenu.transition-exit {
  right: 0;
}
.slideInMenu.transition-enter-active::before, .slideInMenu.transition-enter-done::before, .slideInMenu.transition-exit::before {
  right: 260px;
  opacity: 1;
}
.slideInMenu.widen-transition-enter-active, .slideInMenu.widen-transition-enter-done, .slideInMenu.widen-transition-exit {
  right: 0;
  width: 350px;
}
.slideInMenu.widen-transition-enter-active::before, .slideInMenu.widen-transition-enter-done::before, .slideInMenu.widen-transition-exit::before {
  right: 350px;
  opacity: 1;
}
.slideInMenu.transition-exit-active {
  right: -260px;
  width: 260px;
}
.slideInMenu.transition-exit-active::before {
  right: 0;
  opacity: 0;
}
.slideInMenu .buttonList {
  padding-bottom: 16px;
}
.slideInMenu .buttonList:first-of-type {
  margin-top: 16px;
}

.dataField {
  position: relative;
  min-height: 44px;
  display: flex;
  max-width: 100%;
  border-radius: 8px;
}
.dataField div:first-child {
  padding: 6px 16px;
  position: relative;
  flex-grow: 1;
  min-width: 0;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}
.dataField div:first-child button {
  position: absolute;
  color: #1173d4;
  font-weight: bold;
  background-color: #ededed;
  right: 0;
  top: 0;
  height: 100%;
  padding: 0 10px;
  opacity: 0;
}
.dataField div:first-child button::after {
  content: "";
  position: absolute;
  width: 32px;
  height: 100%;
  background-image: linear-gradient(to left, #ededed 0%, transparent 100%);
  top: 0;
  left: -32px;
}
.dataField div:first-child:hover, .dataField div:first-child:focus-within {
  background-color: #e7f2fd;
}
.dataField div:first-child:hover button, .dataField div:first-child:focus-within button {
  background-color: #e7f2fd;
}
.dataField div:first-child:hover button::after, .dataField div:first-child:focus-within button::after {
  background-image: linear-gradient(to left, #e7f2fd 0%, transparent 100%);
}
.dataField div:first-child:focus-within {
  box-shadow: 0 0 0 4px rgba(0, 102, 204, 0.3);
  z-index: 1000000;
}
.dataField div:first-child:active, .dataField div:first-child.active {
  background-color: #1173d4;
  color: white;
}
.dataField div:first-child:active label,
.dataField div:first-child:active label .labelDetail,
.dataField div:first-child:active label .labelDetail strong,
.dataField div:first-child:active p span, .dataField div:first-child.active label,
.dataField div:first-child.active label .labelDetail,
.dataField div:first-child.active label .labelDetail strong,
.dataField div:first-child.active p span {
  color: white;
}
.dataField div:first-child:active button, .dataField div:first-child.active button {
  background-color: #1173d4;
  color: white;
}
.dataField div:first-child:active button::after, .dataField div:first-child.active button::after {
  background-image: linear-gradient(to left, #1173d4 0%, transparent 100%);
}
.dataField.link label,
.dataField.link p {
  cursor: pointer;
}
.dataField.link button:first-of-type {
  cursor: pointer;
}
.dataField:hover, .dataField:focus-within {
  background-color: #ededed;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.07), 0 -1px 0 0 rgba(0, 0, 0, 0.07);
  box-shadow: 0 0 0 1px rgba(17, 115, 212, 0.25);
}
.dataField:hover div:first-child button, .dataField:hover .buttonGroup, .dataField:focus-within div:first-child button, .dataField:focus-within .buttonGroup {
  opacity: 1;
  max-width: none;
  pointer-events: auto;
}
.dataField label {
  color: #6a5fbf;
  min-height: 6px;
  display: block;
  margin-bottom: 1px;
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dataField label .labelDetail {
  color: #bbb6e2;
}
.dataField label .labelDetail strong {
  font-weight: normal;
  color: #6a5fbf;
}
.dataField p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  color: #333333;
}
.dataField p span.domain {
  cursor: pointer;
  color: #1173d4;
}
.dataField .address {
  white-space: pre-line;
}
.dataField .password, .dataField .totp {
  font-family: "Courier Prime Bits Mono", "Courier New", Courier, mono;
}
.dataField .password .separator, .dataField .totp .separator {
  padding: 0 2px;
  color: rgba(0, 0, 0, 0.15);
}
.dataField.notes {
  background-color: transparent;
  padding: 12px 16px;
  display: block;
}
.dataField.notes span.itemNotes, .dataField.notes span.itemNotes p {
  display: block;
  padding-right: 6px;
  white-space: normal;
  overflow: visible;
  text-overflow: unset;
  user-select: text;
  cursor: text;
}
.dataField.notes:hover {
  background-color: transparent;
  box-shadow: none;
}
.dataField.document {
  display: block;
  padding: 20px 16px !important;
  text-align: center;
  cursor: pointer;
}
.dataField.document * {
  cursor: pointer;
}
.dataField.document img {
  margin: 5px 0;
}
.dataField.document:hover {
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
}
.dataField.tags {
  background-color: transparent;
  padding: 12px 0 12px 16px;
  display: block;
}
.dataField.tags label {
  margin-bottom: -4px;
}
.dataField.tags .itemTags {
  display: block;
  white-space: normal;
  overflow: visible;
  text-overflow: unset;
}
.dataField.tags .itemTags span {
  display: inline-block;
  padding: 2px 8px;
  margin: 4px 12px -1px -8px;
  border-radius: 12px;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.03);
  color: #333333;
  transition: all 0.25s ease;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.07);
  /* When we make these clickable they will need these additional styles (which still need refinement) */
  /*				&:visited {
  					color: $color-shadow-dark;
  				}

  				&:hover {
  					background-color: $color-focus;
  				}

  				&:focus {
  					color: $color-primary-dark;
  					border-color: $color-primary;
  					background-color: $color-light-bright;
  					box-shadow: 0 0 0 2px $color-focus;
  				}*/
}
.dataField.tags:hover {
  background-color: transparent;
  box-shadow: none;
}
.dataField .buttonGroup {
  display: flex;
  align-items: center;
  opacity: 0;
  max-width: 0;
  flex-shrink: 0;
  flex-grow: 0;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
  pointer-events: none;
}
.dataField .buttonGroup button {
  display: flex;
  align-items: center;
  background-color: #ededed;
  box-shadow: -1px 0 0 0 rgba(0, 0, 0, 0.15);
  height: 100%;
  z-index: 1;
  position: relative;
  color: #1173d4;
  --color-buttonIcon: rgb(26, 140, 255);
  font-weight: bold;
  display: flex;
  justify-content: center;
  overflow: hidden;
  max-width: 0;
  padding: 0;
  margin-left: 0;
  opacity: 0;
}
.dataField .buttonGroup button:last-child {
  max-width: 38px;
  padding: 0 12px;
  margin-left: 1px;
  opacity: 1;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}
.dataField .buttonGroup button:last-child svg {
  transition: transform 0.4s ease-in-out;
  transform: rotate(-90deg);
}
.dataField .buttonGroup button:hover, .dataField .buttonGroup button:focus {
  background-color: #e7f2fd;
}
.dataField .buttonGroup button:focus {
  box-shadow: 0 0 0 4px rgba(0, 102, 204, 0.3);
  z-index: 2;
}
.dataField .buttonGroup button:active {
  background-color: #1173d4;
  color: white;
  --color-buttonIcon: white;
  transition: none;
}
.dataField .buttonGroup button.active {
  background-color: #1173d4;
  color: white;
  box-shadow: 0 0 0 2px rgba(0, 102, 204, 0.3), inset 0 0 0 1px rgba(0, 102, 204, 0.3);
}
.dataField .buttonGroup.transition-enter-active button:not(:last-child), .dataField .buttonGroup.transition-enter-done button:not(:last-child) {
  max-width: 200px;
  padding: 0 12px;
  margin-left: 1px;
  opacity: 1;
}
.dataField .buttonGroup.transition-enter-active button:last-child svg, .dataField .buttonGroup.transition-enter-done button:last-child svg {
  transform: rotate(90deg);
}
.dataField .buttonGroup.transition-enter button, .dataField .buttonGroup.transition-exit button {
  transition-property: max-width, padding, margin, opacity;
  transition-duration: 0.4s;
  transition-timing-function: ease;
}
.dataField:not(:active):not(:focus-within) .time_remaining {
  color: rgba(0, 0, 0, 0.6);
}
.dataField .totp {
  min-height: 19px;
}
.dataField .totp .totp-group {
  display: inline-block;
  position: relative;
  top: 1px;
}
.dataField .totp .countdown-pill {
  border-radius: 14px;
  min-height: 18px;
  background-color: rgba(0, 0, 0, 0.07);
  display: inline-block;
  width: 40px;
  position: relative;
  vertical-align: middle;
}
.dataField .totp .countdown-pill .time_remaining {
  position: absolute;
  right: 4px;
  top: 2px;
}
.dataField .totp .countdown-pill .countdown {
  height: 14px;
  width: 14px;
  text-align: center;
  display: inline-block;
  position: absolute;
  left: 0;
}
.dataField .totp .countdown-pill .countdown svg {
  margin: 2px;
  width: 14px;
  height: 14px;
  transform: rotateY(-180deg) rotateZ(-90deg);
}
.dataField .totp .countdown-pill .countdown svg circle.timer {
  stroke-dasharray: 31.416px;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  stroke-width: 3px;
  stroke: #666666;
  fill: none;
  transition: stroke-dashoffset 1s linear 0s, stroke 0.5s linear 0s;
}
.dataField .totp .countdown-pill .countdown svg circle.timer_background {
  fill: none;
  stroke: #d9d9d9;
  stroke-width: 2px;
}
.dataField .totp .countdown-pill .countdown.start_color circle.timer {
  stroke: #50b347;
}
.dataField .totp .countdown-pill .countdown.end_color circle.timer {
  stroke: #e6735c;
}

body {
  width: 600px;
  height: 450px;
  background-color: white;
}

#mainUI {
  display: grid;
  position: fixed;
  grid-template-columns: 250px calc(100% - /*other column*/ 250px);
  grid-template-rows: 44px 1fr;
  grid-row-gap: 12px;
  padding-top: 12px;
  left: 0;
  opacity: 1;
  transition: transform 0.25s ease-in-out;
  width: 600px;
}
#mainUI.transition-enter-active, #mainUI.transition-enter-done, #mainUI.transition-exit {
  transform: translateX(-240px);
}
#mainUI.transition-enter-active header input::placeholder, #mainUI.transition-enter-done header input::placeholder, #mainUI.transition-exit header input::placeholder {
  color: transparent;
}
#mainUI.transition-enter-active header .floating, #mainUI.transition-enter-done header .floating, #mainUI.transition-exit header .floating {
  margin-right: -40px;
}
#mainUI.transition-exit-active {
  transform: translateX(0px);
}
#mainUI.transition-exit-active header input::placeholder {
  color: auto;
}
#mainUI.transition-exit-active header .floating {
  margin-right: 0px;
}
#mainUI #popup-header {
  grid-column: 1/span 2;
  display: flex;
}
#mainUI #itemListPane {
  max-height: 100%;
}

.floating {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 16px 0 rgba(0, 0, 0, 0.07);
  background-color: white;
}

.rounded {
  border-radius: 22px;
}

.buttonIcon {
  width: 18px;
  height: 18px;
}

.link {
  cursor: pointer;
}

.pointerBlocker {
  position: fixed;
  z-index: 99999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: auto;
}
.pointerBlocker.fade {
  background-color: rgba(217, 217, 217, 0.6);
}

.placeholder img {
  animation: pulse 1s ease-in-out infinite alternate;
}

@keyframes pulse {
  100% {
    opacity: 0.75;
  }
}
.spinner {
  animation: spin 0.6s infinite steps(8);
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
